.button {
  transition: background 0.3s ease;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  padding: 10px 16px;
  font-size: 16px;
}

.primary {
  background-color: #fb414e;
  color: white;
}

.primary:hover {
  background-color: #e13a46;
}

.primary:disabled {
  cursor: not-allowed;
  background-color: #e13a46;
}

.secondary {
  background-color: #6c757d;
  color: white;
}

.secondary:hover {
  background-color: #545b62;
}

.secondary:disabled {
  cursor: not-allowed;
  background-color: #545b62;
}

.default {
  background-color: #f8f9fa;
  color: #212529;
}

.default:hover {
  background-color: #e2e6ea;
}

.default:disabled {
  cursor: not-allowed;
  background-color: #e2e6ea;
}
