.product-item {
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  padding: 16px;
  color: #1f1e1e;
}

.product-item:hover {
  background-color: #ddd;
}

.container-info-product {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title-product {
  font-weight: bold;
  font-size: 14px;
}

.price-product {
  font-weight: bold;
  font-size: 14px;
}

.description-product {
  font-size: 12px;
}

.image {
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.product-added {
  color: #fb414e;
  font-weight: bold;
  font-size: 12px;
}

@media screen and (max-width: 768px) {
  .product-item {
    flex-direction: column;
    text-align: justify;
  }
}
