.checkbox-container {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
}

.checkbox-input {
  display: none;
}

.checkbox-custom {
  display: flex;
  justify-content: center;
  align-items: center;
  transition:
    background 0.3s,
    border-color 0.3s;
  border: 2px solid #007bff;
  border-radius: 4px;
  width: 20px;
  height: 20px;
}

.checkbox-input:checked + .checkbox-custom {
  border-color: #0056b3;
  background-color: #007bff;
}

.checkbox-custom::after {
  display: none;
  content: "✔";
  color: white;
  font-size: 14px;
}

.checkbox-input:checked + .checkbox-custom::after {
  display: block;
}

.label {
  color: #ddd;
}
