.input {
  transition:
    border-color 0.3s ease,
    box-shadow 0.3s ease;
  outline: none;
  border: 2px solid #0000;
  border-radius: 8px;
  background-color: #fff;
  padding: 12px 12px;
  color: black;
  font-size: 14px;
}

.input:focus {
  border-color: #fb414e;
}

.input::placeholder {
  color: #aaa;
}
